*{
    padding: 0;
    margin: 0;
}




.one{
    padding: 50px;
    background-color: aquamarine;
}
.two{
    height: 50px;
    width: 100%;
    background-color: brown;
    margin: auto;
    
    
    

}
