*{
    padding: 0;
    margin: 0;
}

.one{
    padding: 50px;
    background-color: tomato;
}
.two{

    width: 1320px;

margin: 0 auto;

}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.two a ul li{
    
    
    padding: 0px,20px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 30px;

}

